


body {
  color: white;
  height: auto;
  background-image: url(https://gifdb.com/images/high/nyc-busy-sidewalk-crowd-wrd5j543ac5544ld.webp);
  background-repeat: no-repeat;
  background-size: 100%;
 
}


.center {
  position: absolute;
  margin: 0 auto;
  left: 36.6%;
  top: 29%;
  color: red;
  font-size: larger;

}

.thm_button {
  color: black;
  background-color: gray;
  font-size: xx-large;
  position: absolute;
  margin: 0 auto;
  left: 80%;
  top: 100%;
 
}

