

body {
  color: white;
  height: auto;
  background-image: url(../assets/img/stars_galaxies-wallpaper-2560x1440.jpg);
  background-repeat:  no-repeat;
  background-color:   #000f1f;
  background-size: 100%;
  
}


.Title {
  position: absolute  ;
  margin: 0 auto;
  left: 30%;
  top: 40%;
  font-family: "Audiowide";
}

.thm_button {
  color: white;
  background-color: #ddfffa;
  
  position: absolute;
  margin: 0 auto;
  left: 60%;
  top: 50%;
  border: 7px solid #ddfffa;
  border-radius: 25px;
  font-family: "Sofia";
  font-size: medium;

}

.center{
  position: absolute;
}