


body {
  color: white;
  height: auto;
  background-image: url(../assets/img/classroom.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;

}


.center {
  position: absolute;
  margin: 0 auto;
  padding: 20px;
  color: white;
  font-size: xx-large;
  background-color: rgba(0,0,0,.4);
 

}

.h1{
  position: center;
  opacity: 0;
  transition: all 1s ease-in-out;
  background-color: rgba(0,0,0,.4);
}

.h3{
  position: center;
  opacity: 0;
  transition: all 1s ease-in-out;
  background-color: rgba(0,0,0,.4);
}

.text {
  padding: 100px;
  color:#fff;
  margin-bottom:20px;
  height:auto;
  opacity: 0;
  transition: all 2s ease-in-out;
}

.fadein {
  background-image: url(../assets/img/vector-cartoon-illustration-happy-meeting-two-friends-hugging-two-woman-happy-to-each-other-love-relatives-friends-happy.png);
  background-repeat: no-repeat;
  background-color: rgba(175, 174, 174, 0.76);
  color:#fff;
  background-size: 39%;
  padding-left: 44%;
  opacity: 0;
  transition: all 5s ease-in-out;
  
}


.fade {
  background-image: url(../assets/img/scrapbook-of-dog-amidst-craft-utilities-on-table-royalty-free-image-1667266912.png);
  background-repeat: no-repeat;
  background-color: rgba(175, 174, 174, 0.76);
  background-position: right;
  padding-left: 1%;
  padding-right: 60%;
  color:white;
  opacity: 0;
  transition: all 10s ease-in-out;

}

.fadeout {
  background: linear-gradient(to right, #efc169 50%, transparent 50%);
  background-image: url(../assets/img/istockphoto-689623188-612x612.png), url(../assets/img/istockphoto_standing-1300858321-2048x2048.png);
  background-repeat: no-repeat;
  background-color: black;
  background-position: right, left ;
  color:white;
  padding-left: 20%;
  padding-right: 40%;
  position: center;
   opacity: 0;
  transition: all 12s ease-in-out;

}

.thm_button {
  color: white;
  background-color: red;
  font-size: xx-large;
  position: absolute;
  margin: 2 auto;
  left: 80%;
  top: 100%;
  border: 4px solid white;

}

